h1, h2 {
  text-align: center;
  font-family: arial;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;

}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
}

.grid-containersolo {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  padding: 10px;
  margin-left: 40%;
  margin-right: 40%;
}


a.button {
  border-radius: 8px;
  color: #ffffff;
  font-size: 30px;
  background-color: #328ba8;
  border: 2px solid #e3d9c8;
  text-decoration: none;
  font-family: arial;
  text-align: center;
}

p {
  font-family: arial;
}

body {
  background-color: #e3d9c8;
}

button {
  border-radius: 8px;
  color: #ffffff;
  font-size: 30px;
  background-color: #328ba8;
  border: 2px solid #e3d9c8;

}
